<div>
  <div>
    <label for="db-select">Choose a database in order to display it's collections:</label>
  </div>
  <div>
    <select name="dbsel" id="dbs">
      <% dbs.forEach((db)=>{%>
      <option value=<%=db.name%>><%=db.name%></option>
      <% }) %>
    </select>
  </div>
</div>
