<!DOCTYPE html>
<html>
  <head>
    <title>Mongo Explorer</title>
    <%- include("./css.ejs") %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Mongo Explorer App</h1>
          <hr class="my-4" />
          <p class="lead">Welcome to the mongo explorer</p>
          <p class="lead">
            When you select something press the button that comes along with it to see the changes
          </p>
          <button type="button" class="btn btn-light" onclick="redir()">Click here for an unexpected surprise</button>
        </div>
      </div>
      <div>
        <h2>Databases</h2>
        <%- include("./dbSelect.ejs") %>
        <button
          type="button"
          class="btn btn-primary"
          onclick="collectionFunction()"
        >
          Click here to see the selected database's collections
        </button>
        <hr class="my-4" />
      </div>
      <div id="colTitle" style="visibility: hidden">
        <h2>Collections</h2>
        <div>
          <label
            >Choose a database in order to display it's collections:
          </label>
        </div>
        <div>
          <div>
            <select name="collections" id="collectionSelect"> </select>
          </div>
          <div>
            <button
              type="button"
              class="btn btn-primary"
              onclick="docsFunction()"
            >
              Click here to see the documents in this collection
            </button>
            <hr class="my-4" />
          </div>
        </div>
        <div id="docsBigDiv" style="visibility: hidden">
          <div>
            <h2 id="docsTitle">Documents</h2>
          </div>
          <div id="docsSmallDiv">
            <table class="table table-striped">
              <thead>
                <tr id="trHead"></tr>
              </thead>
              <tbody id="tBod"></tbody>
            </table>
          </div>
          <h4 id="docsTitle">Want to create a new entry? Click below!</h4>
          <button type="button" onclick="newDoc()" class="btn btn-primary">
            Create new entry
          </button>
        </div>
        <div id="newDoc" class="text-align: center" style="visibility: hidden">
          <div class="card" id="newDocCard">
            <h5 class="card-header">Click here to create a new entry</h5>
            <div class="card-body">
              <form action="" id="docForm" method="POST" class="form-example">
                <div id="docFormInner"></div>
                <div>
                  <button
                    type="button"
                    onclick="insertNewDoc()"
                    class="btn btn-primary"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("./bootstrapJS.ejs") %> <%- include("./javaScripts.ejs") %>
  </body>
</html>