body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.btn {
  margin-top: 1em;
}

.jumbotron {
  background-color: #fdbfbf !important;
}

#newDocCard {
  margin-top: 2em;
  width: 60%;
}
#dogCard {
  background-color: #fdbfbf;
  margin-left: 18em;
}
